.confetti-image {
  position: absolute;
  transform: rotate(180deg);
  z-index: 1;
  width: 290px;
}

.fantastic-image {
  position: absolute;
  z-index: 1;
  width: 290px;
}

.sorry-image {
  width: 290px;
  position: absolute;
  z-index: 1;
}

.word-list-warning {
  position: absolute;
  z-index: 1;
  background-color: #ff5959;
  padding: 10px 40px;
}

.button {
  background-color: #ffd54a;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
  left: 40%;
  top: 5%;
  z-index: 2;
}

.chars-in-exact-pos {
  background: #85c75a;
}
