.confetti-image {
  position: absolute;
  transform: rotate(180deg);
  z-index: 1;
  width: 290px;
}

.fantastic-image {
  position: absolute;
  z-index: 1;
  width: 290px;
}

.sorry-image {
  width: 290px;
  position: absolute;
  z-index: 1;
}

.losing-answer {
  position: absolute;
  z-index: 1;
  background-color: #ff5959;
  padding: 10px 40px;
  font-size: 20px;
}

.losing-answer-word {
  color: white;
  font-style: italic;
  font-size: 22px;
}

.button {
  background-color: #f8c317;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
  left: 40%;
  top: 5%;
  z-index: 2;
}
